*.ex4
*.ex5
*.dat
*.chr
*log
*.ini
*.wnd
*.set

Profiles/Charts/Euro/*.chr
Profiles/Templates/ADX.tpl
Profiles/Templates/BollingerBands.tpl
Profiles/Templates/Momentum.tpl
Profiles/Templates/tnote.tpl
experts.dat
Files/Simple Panel1_EURUSD_Ini.db
experts.dat
experts.dat
